.archive-header{
    display: flex;
    background: $primary-color;
    height: 400px;
    h1{
        align-self: center;
        margin: auto;
        @include display-font();
        text-align: center;
        color: $background-color;
        padding-right: none;

        &:after {
            content: "|";
            font-weight: 400;
            animation: blink 500ms ease-in-out infinite alternate;
        }
    }
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
