article {
    margin-bottom: 7%;

    &.top-margin {
        margin-top: 60px;
    }

    .back {
        padding: 8px 0;

        a {
            background-color: $primary-color;
            padding: 10px;
            font-size: 1.5em;
            // display: block;
            border: none;
            color: $background-color;
            @include display-font();

            &:hover {
                text-decoration: none;
            }
        }
    }

    .article-header {
        background: lighten($background-color, 10);

        .article-title {
            color: $primary-color;
            font-size: 4em;
            margin-top: 50px;
            margin-bottom: 20px;
            padding-bottom: 0.1em;
            border-bottom: $primary-color solid 1px;
        }

        .article-meta {
            margin-bottom: 6px;

            .article-date {
                text-decoration: none;
                font-size: 1.5em;

                time {
                    color: $white;
                }
            }
        }
    }

    .article-body {
        padding-top: 70px;
        background: $white;
    }

    .article-inner {
        margin-bottom: 30px;
        // border-bottom: solid $primary-color 1px;
    }

    .article-footer {
        margin-top: 30px;
        height: 20px;
        background: lighten($background-color, 10);
        color: $primary-color;
    }
}
/*Article coloring able to be applied outisde of an article */
$font-size: 1.2em;

.article-text {
    color: $background-color;

    h1, h2, h3, h4{
        color: $primary-color;
        margin-top: $font-size;
        margin-bottom: calc(#{$font-size} *.3);
    }

    p{
        font-size: $font-size;
        line-height: calc(#{$font-size} * 1.5);
        margin-bottom: calc(#{$font-size});
    }

    blockquote {
        p {
            @include serif();
        }
        position: relative;
        margin: 30px 0;
        padding: 10px 20px;
        @media screen and (min-width: 767px){ /*Bootstrap defined xs as 767 pixels */
            padding: 20px 80px;
        }
        background: lighten($background-color, 90);
        font-style: italic;

        &:before {
            content: open-quote;
            @include serif();
            position: absolute;
            padding: none;
            top: 0;
            left: 5px;
            font-size: 2em;
        }

        &:after {
            content: close-quote;
            @include serif();
            position: absolute;
            padding: none;
            bottom: 0;
            right: 15px;
            font-size: 2em;
        }
    }

    img {
        max-width: 100%;
        max-height: 750px;
        margin: 30px auto 60px auto;
        display: block;
        /*Box shadow taken from Samuel Thorton's codepen of Material Design
        box shadows.
        https://codepen.io/sdthornton/pen/wBZdXq
        */
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    code {
      background-color: darken($white, 5);
      color: $red;
    }
    /*Code*/
    figure.highlight {
        padding: 10px;
        background-color: darken($white, 5);
        td.code {
            padding-left: 15px;
            pre{
              margin-bottom: 0;
            }
        }

        .gutter {
            display: none;
            background-color: darken($white, 10);
        }

        .string {
            color: $string;
        }

        .keyword {
            color: $function;
        }

        .title {
            color: $title;
        }

        .params {
            color: $params;
        }
    }
    /*Links*/
    a {
        color: lighten($background-color, 10);
        font-weight: bold;

        &:hover {
            color: $primary-color;
        }
    }
}
