#mainNav {
    border: none;
    background-color: rgba($background-color, .95);
    .navbar-brand {
        @include display-font();
        font-weight: 200;
        color: $primary-color;
    }
    .nav-item a{
            @include display-font();
        color: $secondary-color;
        font-weight: 100;
    }
    button i {
        color: $secondary-color;
    }
}

#navbar-spacer{
    height: 56px;
}
