$primary-color: #CCB255;
$background-color: #111;
$secondary-color: #F6F6F6;
$white: white;
$red: #AD4744;

$article-title: $primary-color;

/* Code syntax highlighting */
$function: $primary-color;
$title: #AD4744;
$params: #537DAC;
$string: #6BAD56;
