.stub {
    margin-top: 20px;

    .link-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
    }

    .container {
        position: relative;
        background-color: lighten($background-color, 20);

        .number {
            display: flex;
            background-color: $primary-color;

            h1 {
                @include display-font();
                font-size: 4em;
                color: $background-color;
                align-self: center;
                margin: auto;
            }
        }

        .stub-title {
            color: $primary-color;
        }

        .stub-meta {
            .stub-date {
                background: lighten($background-color, 90);
                padding: 2px 5px;
                text-decoration: none;

                time {
                    color: $background-color;
                }
            }
        }

        .stub-description {
            margin-top: 5px;
            color: $white;
        }
    }
}
