.banner {
    position: relative;
    width: 100%;
    height: 500px;
    cursor: none;
    h1 {
        color: white;
        padding-left: 50px;
        @include display-font();
        &:after {
            content: "|";
            font-weight: 400;
            animation: blink 500ms ease-in-out infinite alternate;
        }
    }
    canvas {
        @include animationName(fadeIn100);
        @include animationDuration(1s);
        @include animationTimingFunction(ease-in);
        @include animationDelay(.5s)
        animation-fill-mode: both;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}




@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}