#mainNav {
    border: none;
    position: absolute;
    background-color: $background-color;
    .navbar-brand {
        @include display-font();
        font-weight: 200;
        color: $primary-color;
    }
    .nav-item a{
            @include sans-serif();
        color: $secondary-color;
        font-weight: 100;
    }
    button i {
        color: $secondary-color;
    }
}