#portfolio{
    background-color: $primary-color;
        @include animationName(moveUp);
        @include animationDuration(1s);
        @include animationTimingFunction(ease-out);
        @include animationDelay(1.5s)
        animation-fill-mode: both;
    h3{
        color: $secondary-color;
        text-align: center;
    }
    .card{
           background-color: $secondary-color;
    }
}

#art{
    background-color: $red;
    h3{
        color: $secondary-color;
        text-align: center;
    }
    .card{
           background-color: $secondary-color;
    }
}

#about{
    background-color: $background-color;
    color: $secondary-color;
    text-align: center;
    h3{
        margin-bottom: 30px;
    }
}

.card-deck{
    margin-top: 30px;
    a{
        color: $background-color;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }   
    .card{
        box-shadow: 5px 5px 10px -5px $background-color;
//        &:hover {
//            box-shadow: 10px 10px 10px -5px $background-color;
//            transform: translate(-5px, -5px);
//
//        }
    }
}

#contact{
    background-color: $secondary-color;
    h3{
        text-align: center;
    }
    .form-control{
        &:active, &:focus{
            border-color:$primary-color;
        }
    }

    .btn-primary{
        background-color: $primary-color;
        border-color: $primary-color;
    }
}
