section{
//        @include animationName(moveUp);
//        @include animationDuration(1s);
//        @include animationTimingFunction(ease-out);
//        @include animationDelay(1.5s)
//        animation-fill-mode: both;
}


#portfolio{
    background-color: $background-color;
    h3{
        color: $secondary-color;
        text-align: center;
    }
    .card{
           background-color: $secondary-color;
    }
}

#art{
    background-color: $background-color;
    h3{
        color: $secondary-color;
        text-align: center;
    }
    .card{
           background-color: $secondary-color;
    }
}

#about{
    background-color: $background-color;
    color: $secondary-color;
    h3{
        text-align: center;
        margin-bottom: 30px;
    }
}

.card-deck{
    margin-top: 30px;
    a{
        color: $background-color;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }   
    .card{
        img{
            border-radius: 0;
        }
        //box-shadow: 0px 0px 4px 2px $primary-color;
        border-radius: 0;
        border: none;
//        &:hover {
//            transform: translate(-5px, -5px);
//
//        }
        .card-body{
            background-color: lighten($background-color, 15%);
            color: $secondary-color;
            font-weight: 100;
        }
        h4 {
            color: $secondary-color;
        }
    }
}

#contact{
    background-color: $secondary-color;
    h3{
        text-align: center;
    }
    .form-control{
        &:active, &:focus{
            border-color:$primary-color;
        }
    }

    .btn-primary{
        background-color: $primary-color;
        border-color: $primary-color;
    }
}
