<footer>
    <div class="container d-flex">
    <div class="row w-100 justify-content-end">
        <div class="col-8">
            Designed by Daniel Krajnak
        </div>
        </div>
    </div>
</footer>
